<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asd_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{367,417}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,19},{367,417}}</string>
                <key>sourceSize</key>
                <string>{367,417}</string>
            </dict>
            <key>asd_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,381},{385,411}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,24},{385,411}}</string>
                <key>sourceSize</key>
                <string>{385,411}</string>
            </dict>
            <key>asd_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{401,407}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,28},{401,407}}</string>
                <key>sourceSize</key>
                <string>{401,407}</string>
            </dict>
            <key>asd_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{421,401}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,34},{421,401}}</string>
                <key>sourceSize</key>
                <string>{421,401}</string>
            </dict>
            <key>asd_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,397}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,38},{439,397}}</string>
                <key>sourceSize</key>
                <string>{439,397}</string>
            </dict>
            <key>asd_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{423,401}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,34},{423,401}}</string>
                <key>sourceSize</key>
                <string>{423,401}</string>
            </dict>
            <key>asd_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,792},{407,403}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,31},{407,403}}</string>
                <key>sourceSize</key>
                <string>{407,403}</string>
            </dict>
            <key>asd_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,744},{399,409}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,26},{399,409}}</string>
                <key>sourceSize</key>
                <string>{399,409}</string>
            </dict>
            <key>asd_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,405},{385,411}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,24},{385,411}}</string>
                <key>sourceSize</key>
                <string>{385,411}</string>
            </dict>
            <key>asd_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{377,415}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,21},{377,415}}</string>
                <key>sourceSize</key>
                <string>{377,415}</string>
            </dict>
            <key>asd_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,371},{371,415}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,21},{371,415}}</string>
                <key>sourceSize</key>
                <string>{371,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster-sprites.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51edc6428d04c67be28f760ad5896ae2$</string>
            <key>textureFileName</key>
            <string>Monster-sprites.png</string>
        </dict>
    </dict>
</plist>
